

@{
    ViewBag.Title = "Добро пожаловать!";
    Layout = "/Views/Shared/_Layout.cshtml"; 
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">@ViewBag.Title</h2>
                </div>
                <div class="card-body">
                    <p class="lead">
                        Кости — азартная и настольная игра, в которой используются специальные игральные кубики (кости). Игра ведётся между двумя или более игроками,
                        которые бросают кубики и зарабатывают очки в зависимости от выпавших комбинаций. Основная цель игры может варьироваться в зависимости от конкретных правил,
                        но обычно выигрывает тот, кто первым наберёт определённое количество очков или выполнит поставленную задачу.
                    </p>                    
                    <div class="text-center">
                        <img src="/Image/Kosty.jpg" class="img-fluid rounded shadow" alt="Игра в кости" style="max-height: 300px;">
                        <p class="mt-3">Игральные кости</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



