@{
    ViewBag.Title = "Основные правила игры!";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">@ViewBag.Title</h2>
                </div>
                <div class="card-body">                    
                    <hr>                    
                    <p class="mb-4">
                        Основные правила игры, которые действуют в большинстве вариантов игр в кости:
                        <ul>
                            <li>Игроки по очереди бросают игральные кости, и результаты броска определяют, какие действия игрок должен предпринять или какие очки он зарабатывает.</li>
                            <li>
                                Обычно используются два или более кубика, каждая грань которых помечена числом от 1 до 6. Игрок может бросать кости несколько раз, чтобы попытаться улучшить свой результат,
                                но есть риск потерять очки или проиграть ход в зависимости от игры.
                            </li>
                            <li>В некоторых вариантах игры в кости можно делать ставки на результат броска, что добавляет элемент азарта.</li>
                            <li>Существует множество различных игр с использованием костей, таких как "Ятзы", "Покер на костях" и "Крэпс", каждая из которых имеет свои уникальные правила и стратегии.</li>
                        </ul>
                    </p>
                    <div class="text-center">
                        <img src="/Image/Kosty2.jpg" class="img-fluid rounded shadow" alt="Игра в кости" style="max-height: 300px;">
                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>



